<div class="page">
  <div class="container" style="padding-top: 5px;">
    <div class="left-section left">

        <!-- nav --> 
      <%= render :partial => '/sidebar/nav' %>

      <!-- suggest -->
      <%= render :partial => '/sidebar/suggest' %>
      
      <!-- trends -->
      <%= render :partial => '/sidebar/trends' %>

      <!-- trends -->
      <%= render :partial => '/sidebar/copy' %>
      <%= render :partial => '/sidebar/serve_ad' %>
    </div>

    <div class="right-section right">

        <!-- START POST -->
        <%= render :partial => '/profile/posts', :locals => { disable_post: true } %>
        <!-- END POST -->
        <%= render :partial => '/profile/paginate', :locals => { source: 'home', total_pages: @total_pages } %>
    </div>
        
  </div><!-- .container -->
  <div class="clear"></div>
</div>

<div style="margin-left: -513px; width: 206%;">
<%= render :partial=>"footer" %>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>


