<div class="page">
    <div class="container">
        <div class="left-section left">
            <!-- nav --> 
            <%= render :partial => '/sidebar/profile' %>

            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

           

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- ads -->
            <%= render :partial => '/sidebar/serve_ad' %>

            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
           
           
        </div>
        <div class="right-section right">

            <!-- START POST -->
            <%= render :partial => '/profile/posts' %>
            <!-- END POST -->

            <!-- Paginate -->
            <%= render :partial => '/profile/paginate', :locals => { source: 'home', total_pages: @total_pages } %>
        </div></div>
        </div></div>
        </div>
        
        
    </div><!-- .container -->
</div>
<div class="footer-container">
<%= render :partial=>"footer" %>

</div>



<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>




<style>
.wrapper .page .container .right-section .tip-holder{
  padding-bottom:0px !important;
}

</style>