<div class="page">
    <div class="container" style="padding-top:0px">
        <div class="left-section left">
            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
            <%= render :partial => '/sidebar/serve_ad' %>
        </div>

        <div class="right-section right">

            <!-- START USERS -->
            <%= render :partial => '/profile/user' %>
            <!-- END USERS -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>










