<div class="page">
  <div class="container">
    <div class="tip-holder">

        <div class="box border-radius">
            <%if !@post.reposts.blank?%>
                <%user=User.find(@post.reposts.last.user_id).name%> 
                <div style="font-size: 12px;"><a href="#" class="re-tip">Retiped by </a><%=user%></div>
                <%end%>
                <% if !@post.admires.where(user_id: @current_user.id).empty? %>
                    <img src="assets/main/admired-star.jpg" width="38" height="37" alt="Admired" title="Admired" style="margin-left: 616px;margin-bottom: -33px;margin-top:-5px;">
                <% end %>
                <div class="box-left left"><a href="/<%= @post.user.username %>"><%= image_tag @post.user.user_avatar, :width => "116" %></a></div>
                <div class="">
                <h2><a href="/<%= @post.user.username %>"><%= @post.user.name %></a><span><a href="/<%= @post.user.username %>"> @<%= @post.user.username %></a> </span></h2>

                <p><%= raw emojify(linkify(link_urls_and_users(@post.body))) %></p>
               
                <% if @post.avatar.url %>

                    <p><a id="example1" href="<%= @post.avatar.url %>"><%= image_tag @post.avatar.url, :width => "116" %></a></p>
                <% end %>

                <% if @post.media %>
                    <div class="youtube" style="margin-top: 10px;">
                    <iframe width="420" height="250" src="<%= @post.media.url %>" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                <% end %>
            </div>
        </div>

    </div><!-- .container -->
    <div class="clear"></div>
</div>

<div style="margin-left: -513px; width: 206%;">
<%= render :partial=>"footer" %>
</div>
