<div class="display-box border-radius">
  <div class="name">
    <p>
      <%= @current_user.name %><span>@<%= @current_user.username %></span><small><a href="/<%= @current_user.username %>">view my profile page</a></small>
    </p>
    <%= image_tag @current_user.user_avatar, :width => "47" ,:height=>"36"%>
    
  </div><!-- .name -->
</div><!-- .display-box -->
<div class="left-list box-space">
  <ul class="border-radius">
    <li class="<%= active_message_class('compose') %>"><a href="<%= new_message_path %>">compose message</a></li>
    <li class="<%= active_message_class('home') %>"><a href="<%= messages_path()  %>">inbox</a></li>
    <li class="<%= active_message_class('sent') %>"><a href="<%= sent_messages_path()%>">sent</a></li>
    <li class="<%= active_message_class('trash') %>"><a href="<%= trash_messages_path() %>">trash</a></li>
  </ul>
</div><!-- .left-list -->
<%= render :partial=>"sidebar/copy" %>

