<div class="message-holder">
   <%= image_tag message.sender.user_avatar, :width => "47" %>
   <div class="description" style="margin-left: 70px; margin-top: -45px;">
    <h2><a href="/<%= message.sender.username %>"><%= message.sender.name %> </a> <!-- <a href="/<%= message.receiver.username %>"><%#= message.receiver.name %></a> --></h2>
    <p style="margin-top: 3px;"><%= raw emojify(linkify(link_urls_and_users(message.message_text)))%> </p>
    <% if message.attachments.present? && message.attachments.first.document_url.present? %>
    <p style="height:125px">
      <a href="<%=message.attachments.first.document_url %>" class="fancy-popup">
        <%= image_tag message.attachments.first.document.url(:thumb), :width => "120"%>  
      </a>  
    </p>
    <% end %>
     
    <%#=link_to "Reply",new_message_path(:parent_id=>message.id,:receiver_id=>@message.receiver_id) %> -
    <!--<a href="#">Forward</a> --> 
    <%#= link_to "Delete", message_path(message),:method=>"delete",:confirm=>"Are you sure?" %>
    <span> <%= message.created_at.strftime("%B %e, %Y at %I:%M %p")%></span>
    <%#= link_to "Delete", move_to_trash_message_path(message)%>
  </div>
  <div class="clear"></div>
<br/>
</div>