<div class="page"> 
  <div class="container">
    <div class="left-section left">
      <%= render :partial=>"message_nav" %>
    </div>  
    <div class="right-section right">
      <div class="heading border-radius">inbox</div>
      <div class="inbox message border-radius">
        <% @messages.each do |message| %>

        <div class="message-holder">
          <img src="images/inbox-img.jpg" />
          <div class="description">
            <h2><%= message.sender.name %></h2>
            <p><%= message.message_text %> </p>
            <%=link_to "Reply",new_message_path(:parent_id=>message.id) %> -
            <a href="#">Forward</a> - <%= link_to "Delete", move_to_trash_message_path(message)%>

          </div>
          <div class="clear"></div>
        </div><!-- .message-holder -->
        <% end %>  
      </div><!-- .inbox -->
    </div><!-- .right-section -->
    <div class="clear"></div>
  </div><!-- .container -->
</div>



