<div class="container">
  <div class="span4 left">

    <%= render :partial=>"message_nav" %>

  </div>

  <div class="span8 tippen-content">
    <div class="panel panel-default">
      <div class="panel-body">
       Direct Messaging - New
      </div>
    </div> 
    <% if @parent_message.blank? %>
      <form id="search-user" action="/search" method="get">
        <input class="receiver-search" type="text" name="q" placeholder="Search" />
      </form>
    <% else %>
      <p><%= @parent_message.sender.name %> @<%= @parent_message.sender.username %></p>
    <% end %>
      
    <%= nested_form_for(@message,:html=>{:multipart=>true,:id=>"new_message"}) do |f|%>
      <% if @parent_message.present? %>
        <%= f.hidden_field :receiver_id ,:value=>@parent_message.sender_id,:id=>"receiver_id" %>
        <%= f.hidden_field :parent_id ,:value=>@parent_message.id %>
      <% else %>
        <%= f.hidden_field :receiver_id ,:id=>"receiver_id" %>
      <% end %>  
    
      <%= f.text_area :message_text,:placeholder=>"Message",:rows=>3,:class=>"span8",:id=>"message_text",:maxlength=>140 %>
      <%= f.fields_for :attachments %>
      <%= f.link_to_add "Add Attachment", :attachments %>
      <br />
      <%= f.submit "Send Message",:class=>"btn" %>
    <% end %>
  </div> 
</div>

<script type="text/javascript">
$(document).ready(function(){
  VL.message.receiverSearch();
  VL.message.validateReceiver();
});
</script>