<div class="page"> 
  <div class="container">
    <div class="left-section left">
      <%= render :partial=>"message_nav" %>
    </div>  
    <div class="right-section right">
      <div class="heading border-radius">Sent</div>
      <div class="inbox message border-radius">
        <% @messages.each do |message| %>

        <div class="message-holder"  id="message_<%=message.id %>">
          <img src="images/inbox-img.jpg" />
          <%#= image_tag "inbox-img.jpg" ,:width=>47%>
          <div class="description">
            <h2><%= message.sender.name %></h2>
            <p><%= message.message_text %> </p>
            <a href="#">Forward</a> - <%= link_to "Delete", message_path(message),:method=>"delete",:confirm=>"Are you sure?" %>

          </div>
          <div class="clear"></div>
        </div><!-- .message-holder -->
        <% end %>  
      </div><!-- .inbox -->
    </div><!-- .right-section -->
    <div class="clear"></div>
  </div><!-- .container -->
</div>




