<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title %></title>
  <%= stylesheet_link_tag "main/application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag "main/application" %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>


  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />

  
</head>
 <body> 
<div id="wrap" class="" role="document" style="display:none;">
    <header id="header">
        <div class="container">
        <div class="header-logo">
            
                <a href="/"><%= image_tag "main/logo.png" %></a>
            </div>
        </div>
    </header>
        <div class="nav-bar">
        <div class="container">
            <div class="span6">
            <nav id="main-nav" class="navbar">
                <div class="navba-inner">
                    
                        <ul id="menu-primary-navigation" class="nav">
                            <li class="menu-home"><a href="/">Home</a></li>
                            <li class="menu-activity"><a href="/activity">Activity</a></li>
                            <li class="menu-discover"><a href="/discover">Whats hot</a></li>
                            <li class="menu-discover"><a href="/<%= session[:username] %>">Profile</a></li>
                        </ul>
                        <div class="clear"></div>
                    
                </div>
                
                <div class="clear"></div>
                
            </nav>
            </div>
            <div class="span6">
                <div class="search-bar-area">
                <form id="top-search" action="/search" method="get">
                  	<input class="sear-ch" type="text" name="q" placeholder="Search" />
                </form>
                </div>
                <div class="top-right-links">
                <ul>
                    <li><a href="/logout"><%= image_tag "main/setting-img.png" %></a></li>
                   <li><a href="#"><%= image_tag "main/top-edit-img.png" %></a></li> 
                </ul>
                </div>
                
            </div>
            </div>
        </div>

    <!-- status -->
    <%if flash[:notice] %>
        <div class="notice" style="margin-right: 500px;margin-left: 520px;width: 610px;background-color: #DBDBDB;border-radius: 2px;margin-top: 10px;">
                     <p style="padding-bottom: 5px;" align="center"> <%= flash[:notice] %> </p>
        </div>
    <% end %>

    <!-- new feed -->
    <div class="feed" style="margin-right: 500px;margin-left: 520px;width: 610px;background-color: #DBDBDB;border-radius: 2px;margin-top: 10px;">
                     
    </div>

     <%if ["/activity","/discover","/"].include? request.fullpath %>
     <script type="text/javascript">
        
        // Long polling for posts
        (function poll(){
           setTimeout(function(){
              $.ajax({ url: "/notification?seed=<%= request.fullpath %>", success: function(data){
                
                //Update your dashboard
                console.log("success: "+data)
                if(data === 1) {
                    $(".feed").html('<p style="padding-bottom: 5px;" align="center"> New posts available. <a href=""> Refresh </a></p>')
                }

                //Setup the next poll recursively
                poll();
              }, dataType: "json"});
          }, 30000);
        })();
      
     </script>
     <% end %>


    
    
    <div id="main-con">
        
        <!-- container --> 
        <%= yield %>
    
    
        <footer id="footer" class="footer">
            <div class="container" style="position: relative;">
            <div class="footer-logo">
                <a href="/"><%= image_tag "main/footer-logo.png" %></a>
            </div>
                <div id="footer-main-nav" class="f-navbar">
                    <div class="f-navba-inner" style="margin-left: 120px;">
                        
                            <ul id="menu-primary-navigation" class="f-nav">
                                <li class="f-menu-about-tv"><a href="/about">about tv</a></li>
                                <li class="f-menu-adver"><a href="#">advertisers</a></li>
                                 <!--
                                <li class="f-menu-blog"><a href="#">blog</a></li>
                                <li class="f-menu-find"><a href="#">find acquaintances</a></li>
                                 -->
                                <li class="f-menu-privacy"><a href="/privacy">PRIVACY</a></li>
                                <li class="f-menu-terms"><a href="/terms">TERMS</a></li>
                            </ul>
                            <div class="clear"></div>
                        
                    </div>
                    <div class="clear"></div>
                </div>
                
                    <p class="copyrite" align="center">&copy; 2013 TIPPIN THE VELVET. All Rights Reserved.</p>
                    <div class="clear"></div>
            </div>
        </footer>
    </div>
   </body>
 

</html> 