<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "main/application" %>
  <%= javascript_include_tag "main/application" %>
  <%= csrf_meta_tags %>


  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />

  
</head>
 <body> 
<div id="wrap" class="" role="document" style="display:none;">
    <header id="header">
        <div class="container">
        <div class="header-logo">
            
                <a href="index.html"><%= image_tag "main/logo.png" %></a>
            </div>
        </div>
    </header>
        <div class="nav-bar">
        <div class="container">
            <div class="span6">
            <nav id="main-nav" class="navbar">
                <div class="navba-inner">
                    
                        <ul id="menu-primary-navigation" class="nav">
                            <li class="menu-home"><a href="index.html">Home</a></li>
                            <li class="menu-activity"><a href="activity.html">Activity</a></li>
                            <li class="menu-discover"><a href="discover.html">Discover</a></li>
                            <li class="menu-profile active active"><a href="profile.html">Profile</a></li>
                        </ul>
                        <div class="clear"></div>
                    
                </div>
                
                <div class="clear"></div>
                
            </nav>
            </div>
            <div class="span6">
                <div class="search-bar-area">
                <form id="top-search" action="">
                  	<input class="sear-ch" type="text"  placeholder="Search" />
                </form>
                </div>
                <div class="top-right-links">
                <ul>
                    <li><a href="#"><%= image_tag "main/setting-img.png" %></a></li>
                    <li><a href="#"><%= image_tag "main/top-edit-img.png" %></a></li>
                </ul>
                </div>
                
            </div>
            </div>
        </div>
    
    
    <div id="main-con">
        <!-- container --> 
        <%= yield %>
    
    
        <footer id="footer" class="footer">
            <div class="container" style="position: relative;">
            <div class="footer-logo">
                <a href="index.html"><%= image_tag "main/footer-logo.png" %></a>
            </div>
                <div id="footer-main-nav" class="f-navbar">
                    <div class="f-navba-inner">
                        
                            <ul id="menu-primary-navigation" class="f-nav">
                                <li class="f-menu-about-tv"><a href="index.html">about tv</a></li>
                                <li class="f-menu-adver"><a href="advertisers.html">advertisers</a></li>
                                <li class="f-menu-blog"><a href="blog.html">blog</a></li>
                                <li class="f-menu-find"><a href="find-acquaintances.html">find acquaintances</a></li>
                                <li class="f-menu-privacy"><a href="privacy.html">PRIVACY</a></li>
                                <li class="f-menu-terms"><a href="terms.html">TERMS</a></li>
                            </ul>
                            <div class="clear"></div>
                        
                    </div>
                    <div class="clear"></div>
                </div>
                
                    <p class="copyrite" align="center">&copy; 2013 TIPPIN THE VELVET. All Rights Reserved.</p>
                    <div class="clear"></div>
            </div>
        </footer>
    </div>
   </body>
 

</html> 