<div class="middle">
	<div class="center-form">
		<%if flash[:notice] %> <div class="enter"> <%= flash[:notice] %> </div> <% end %>
		<form id="DOB" method="POST" action="" class="Dob">
			<div class="enter">ENTER YOUR DATE OF BIRTH</div>
			<div class="inputer">
			<input type="text" class="input1" name="month" value="<%= session[:month] %>" placeholder="MM" maxlength="2" id="a"/>
			<input type="text" class="input2" name="day"  value="<%= session[:day] %>" placeholder="DD" maxlength="2" id="b"/>
			<input type="text" class="input3" name="year" value="<%= session[:year] %>" placeholder="YYYY" maxlength="4" id="c"/></div>
			<div class="error">asdsds</div>
			<div class="what">WHAT COUNTRY DO YOU LIVE IN?</div>
			<div class="selectors">
			<select class="country" name="country">
			<option>UNITED STATES</option>
			<option>CANADA</option>
			
			</select>
			<!--
			<br/><br/>
			<input type="checkbox" name="" class="cheking"/> <span class="rem">Remember Me</span><span class="privacy"><A href="#">Privacy Policy</a></span>
			-->
			</div>
		</form>
		
		<form id="register" action="landing/create/1" method="POST" class="Registeration">
			<h1 class="registrationh1">Registration</h1>
			<div class="register-field">
			<label>Name</label><br/>
			<input type="text" class="register name"  name="name" value="<%= session[:name] %>" Placeholder="Name"/><br/>

			<label>Username</label><br/>
			<input type="text" class="register name"  name="username" value="<%= session[:username] %>" Placeholder="Username"/><br/>

			<label>Email</label><br/>
			<input type="text" class="register email" name="email" value="<%= session[:signup_email] %>" Placeholder="Email"/><br/>
			<label>Password</label><br/>
			<input type="password" class="register Password" name="password" Placeholder="Password"/>
			</div>
			<div class="error">asdsds</div>
			<input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
		</form>
		<div>
		
		
		</div>
		  <div class="enter-site"><%= image_tag "entersite.png" %></div>
		  <div class="enter-site3">Register</div>
		  <div class="enter-site2"><a href="/"><%= image_tag "exit.png" %></a></div>
	</div>

</div><!--End of middle-->