<div class="left-list box-space">
	<ul class="border-radius">
    	<li><a href="/<%= params[:username] || @current_user.username %>/tips">TIPS</a></li>
    	<li><a href="/<%= params[:username] || @current_user.username %>/acquainting">ACQUAINTING</a></li>
    	<li><a href="/<%= params[:username] || @current_user.username %>/acquaintances">ACQUAINTANCES</a></li>
    	<li><a href="/<%= params[:username] || @current_user.username %>/admired">admire</a></li>
    	<li><a href="/<%= params[:username] || @current_user.username %>/lists">LISTS</a></li>
      <li><a href="/<%= params[:username] || @current_user.username %>/emoji">Fumoji's</a></li>
    	<li><a href="/<%= @current_user.username %>/ads">Ads</a></li>
    </ul>
</div><!-- .left-list -->