<div class="display-box border-radius">
	<div class="name">
        <p><%= @user.name %><span>@<%= @user.username %></span><small><a href="/<%= @user.username %>">view my profile page</a></small></p>
    	<a href="/<%= @user.username %>"><%= image_tag @user.user_avatar, :width => "47" %></a>
    </div><!-- .name -->
    <ul>
    	<li><p><%= @user.posts.size %><span>TIPS</span></p></li>
    	<li><p><%= @user.following.collect(&:user_id).uniq.size %><span>ACQUAINTING</span></p></li>
    	<li><p><%= @user.followers.collect(&:follower_id).uniq.size %><span>ACQUAINTANCES</span></p></li>
    </ul><!-- ul -->
    <div class="clear"></div>
    <% if @current_user.id && @current_user != @user %>
        <div class="direct-messaging">
        	<!--<a href="#" class="button">direct messaging</a>-->
            <% if block_user_detail(@user,@curent_user)==true %> 
               <a href="/dashboard/unblock_user/<%= @user.id%>" class="button">UnBlock</a>     
            <%else%> 
                <% if @current_user.is_following.include? @user %>
                   <a href="/dashboard/unacquaint/<%= @user.username %>" class="button black">Unacquaint</a>
                <% else %> 
                   <a href="/dashboard/acquaint/<%= @user.username %>" class="button">Acquaint</a>
                <% end %>
                <a href="/dashboard/block_user/<%= @user.id%>" class="button">Block</a>
            <%end%>
        </div><!-- .direct-messaging & aquaint -->
    <!--
    <div class="direct-messaging">
        <a href="#" class="button">add to list</a>
    </div>
    -->
    <!-- .add to list -->
    <% end %>
</div><!-- .display-box -->

<script type="text/javascript">
/*
$(document).ready(function(e){
	VL.message.handleDropdown("<%= params[:username] %>")
});
	// function handleSelect(elm)
	// {

	// 	window.location = "/dashboard/"+elm.value+"/<%= params[:username] %>";
	// }
*/
</script>