 <div class="footer border-radius banner box-space" style="margin-top:12px; width:300px; height:250px;">
  Advertisement

  <%= link_to "Create Ad","/advertisers/add_advertiser",:style=>"float:right"%>
  <br>
  <% if !@advertisers.blank? %>
  <%@advertisers.each do |advertiser|%>
  <div style="width: 100%">
    <div style=" float:left; margin-top: 12px;">
      <%= image_tag advertiser.campaign_image_url,:width=>"47",:height=>"" %>
      <%= advertiser.website %>
    </div>

    <%@url= advertiser.website %>
    <%if @url.include?"http"%>
    <%else%>
     <%@url= "http://"+@url%>
     <%end%>
     <div style=" float:right; margin-top: 12px;">
      <a  href="<%= @url %>" target="_blank"><%= image_tag advertiser.campaign_image_url,:width=>"47px",:height=>"" %></a>
        <% if advertiser.ga_account.present? && advertiser.ga_website.present? %>
          <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
          <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '<%= advertiser.ga_account%>']);
              _gaq.push(['_setDomainName', '<%= advertiser.ga_website%>']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

          </script>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>

  <% end %>
</div> 