

<div class="display-box border-radius" style="margin-top: 20px;">
    <% @user.lists.each do |list| %>
    <div class="name">
        <p><%= list.name %></p>
        <%= image_tag @user.user_avatar, :width => "47" %>
       <% if !list.is_public %> <div class="list-description">This is a private list</div> <% end %>
        <div class="list-description"><%= list.description %></div>
    </div><!-- .name -->
    <ul>
        <li><p><a href="#"><%= list.members.size %> member(s)</a></p></li>
    </ul><!-- ul -->
    <div class="clear"></div>
    <div class="list-buttons">
        <% if @current_user.id && @user == @current_user %>
        <form action="/<%= @current_user.username %>/destroy_list" method="get">
            <input type="hidden" name="id" value="<%= list.id %>">
            <input type="submit" value="Delete" data-confirm="Are you sure?" class="button">
        </form>
        <% end %>

        <% if @current_user.id && @user != @current_user %>
        <form action="/<%= @current_user.username %>/add_members" method="get">
            <input type="hidden" name="list_id" value="<%= list.id %>">
            <input type="hidden" name="user_id" value="<%= @current_user.id %>">
            <input type="submit" value="Subscribe" class="button">
        </form>
        <% end %>


    </div><!-- .direct-messaging -->
    <% end %>
</div>