<div class="cool-people">
    <div class="peaple-header">
    <div class="row">
        <div class="span2 cool-heading">
            <h6>Cool People to Acquaint</h6>
        </div>
        <div class="span2 cool-h-link">
            <ul>
                <li><a href="<%= @current_url %>">Refresh</a></li>
               <!-- <li><a href="#">View All</a></li> -->
            </ul>
        </div>
        </div>
    </div>
    <%  @current_user.who_to_follow.each do |suggestion| %>
       <% person      = User.find(suggestion.split(",")[0]) %>
       <% followed_by = User.find(suggestion.split(",")[1]) %>

        <div class="cool-post">
            <%= image_tag "main/main-large-img.png", :align => "left", :width => "46" %>
            <ul>
                <li><%= person.name %></li>
                <li><a href="/<%= person.username %>">@<%= person.username %></a></li>
            </ul>
            <p>Acquainted by <span><a href="/<%= followed_by.username %>"> <%= followed_by.name %></a></span> and <span>others</span></p>
            <a class="post-link" href="#">Acquaintance</a>
        </div>
    <% end %>

</div>  