<div class="display-box border-radius box-space">
    <div class="cool">
        <a href="" class="current_page_item">Cool People to Acquaint</a><a href="">Refresh</a>
    </div><!-- .cool -->

    <%  @current_user.who_to_follow[0,3].each do |suggest| %>
       <% person      = User.find(suggest.split(",")[0]) %>
       <% followed_by = User.find(suggest.split(",")[1]) %>
    <div class="cool-hold">
        <% if @current_user.id != person.id %>
        <p><%= person.name %><span>@<%= person.username %></span><small>Acquainted by <%= followed_by.name %> and others</small><a href="/<%= person.username %>">View</a></p>
        <%= image_tag person.user_avatar, :width => "47" %>
        <% end %>
    </div><!-- .cool-hold -->
    <% end %>
   
</div><!-- .display-box -->