<div class="heading">Profile<span>This information appears on your public profile, search results, and beyond.</span></div>

<div class="box profile">
<form action="/<%= @current_user.username %>/update" method="post" enctype="multipart/form-data">
	<input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />

<div class="profile-heading all-heading">Change Your Profile And Header Picture</div>


<div class="label-holder">
<label class="label">photo</label>
<p>
</p><div class="profile-photo border-radius left"><%= image_tag @current_user.user_avatar, :width => "80" %></div>
<div class="change-photo left">
<input type="file" name="user[avatar]" value="Change Photo"> <span>This photo is your identity on Tippin and appears with your Tips.</span>
</div>
<div class="clear"></div>
<p></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">header</label>
<p>
</p><div class="profile-photo border-radius left"><%= image_tag @current_user.user_header(:thumb), :width => "80" %></div>
<div class="change-photo left">
<input type="file" name="user[header]" value="Change Header">
<span>Recommended dimensions of 1252×626<br>Maximum file size of 5MB</span>
</div>
<div class="clear"></div>
<p></p>
<div class="clear"></div>
</div>

<hr>

<div class="label-holder">
<label class="label">background</label>
<p>
</p><div class="profile-photo border-radius left"><%= image_tag @current_user.user_background(:thumb), :width => "80" %></div>
<div class="change-photo left">
<input type="file" name="user[background]" value="Change Background">
<span>This photo displays as your background on the entire site.</span>
<a href="/<%= @current_user.username %>/destroy_background" class="button save" value="Remove">Remove</a>
</div>
<div class="clear"></div>
<p></p>
<div class="clear"></div>
</div>

<hr>

<div class="label-holder">
<label class="label">name</label>
<p><input type="text" placeholder="John Seed" name="user[name]" value="<%= @current_user.name %>"><span>Enter your real name, so people you know can recognize you.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">username</label>
<p><input type="text" placeholder="jseed" name="user[username]" value="<%= @current_user.username %>"><span>Enter your username.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">email</label>
<p><input type="text" placeholder="john.seed@example.com" name="user[email]" value="<%= @current_user.email %>"><span>Enter your email.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">location</label>
<p><input type="text" placeholder="Location" name="user[location]" value="<%= @current_user.location %>"><span>Where in the world are you?</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">website</label>
<p><input type="text" placeholder="example.com"  name="user[website]" value="<%= @current_user.website %>"><span>Have a homepage or a blog? Put the address here.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">bio</label>
<p><textarea name="user[bio]" rows="8"><%= @current_user.bio %></textarea><span>About yourself in 160 characters or less.</span></p>
<div class="clear"></div>
</div>

<input type="submit" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>