<div class="heading">Email notifications<span>Control when and how often Tippin sends emails to you.</span></div>
<div class="box profile">
<form action="/<%= @current_user.username %>/update" method="post">
<input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />

<div class="profile-heading all-heading">Activity related to you and your Tips</div>


<div class="label-holder">
<label class="label">email me when</label>
<p class="check-list">

      <%=hidden_field_tag 'user[noti_mention]', '0'%>
      <%=check_box_tag 'user[noti_mention]', 1, (@current_user.noti_mention == true ? true : false)%>
      My Tips get a reply or I'm mentioned in a Tip
</p>

<!--
<p><input name="" type="checkbox" value="">My Tips are marked as favorites</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">Tips I'm mentioned in are marked as favorites</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">My Tips are retiped</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">Tips I'm mentioned in are retiped</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">My Tips get a reply or I'm mentioned in a Tip</p>
<p><select><option>tailored for you</option></select></p>
<p class="check"><input name="" type="checkbox" value="">Someone sends me a follow request</p>
<p class="check"><input name="" type="checkbox" value="">I'm sent a direct message</p>
<p class="check"><input name="" type="checkbox" value="">Someone shares a Tip with me</p>
<p class="check"><input name="" type="checkbox" value="">Someone from my address book joins Tippin</p>

-->

<div class="clear"></div>
</div>


<hr>
<div class="profile-heading all-heading">Activity from your network</div>

<div class="label-holder">
<label class="label">email me when</label>
<p>
      <%=hidden_field_tag 'user[noti_retips]', '0'%>
      <%=check_box_tag 'user[noti_retips]', 1, (@current_user.noti_retips == true ? true : false)%>
      My tips are retiped
</p>

<p>
      <%=hidden_field_tag 'user[noti_admire]', '0'%>
      <%=check_box_tag 'user[noti_admire]', 1, (@current_user.noti_admire == true ? true : false)%>
      My tips are marked as favorites
</p>

<p>
      <%=hidden_field_tag 'user[noti_message]', '0'%>
      <%=check_box_tag 'user[noti_message]', 1, (@current_user.noti_message == true ? true : false)%>
      I'm sent a direct message
</p>

<p>
      <%=hidden_field_tag 'user[noti_follow]', '0'%>
      <%=check_box_tag 'user[noti_follow]', 1, (@current_user.noti_follow == true ? true : false)%>
      Someone sends me a follow request
</p>



<div class="clear"></div>
</div>

<!--
<hr>
<div class="profile-heading all-heading">Updates from Tippin</div>

<div class="label-holder">
<label class="label">email me when</label>
<p><input name="" type="checkbox" value="">News about Tippin product and feature updates</p>
<p class="check"><input name="" type="checkbox" value="">Tips on getting more out of Tippin</p>
<p class="check"><input name="" type="checkbox" value="">Things I missed since I last logged into Tippin</p>
<p class="check"><input name="" type="checkbox" value="">News about Tippin on partner products and other third party services</p>
<p class="check"><input name="" type="checkbox" value="">Participation in Tippin research surveys</p>
<p class="check"><input name="" type="checkbox" value="">Suggestions about people I may know on Tippin</p>
<p class="check"><input name="" type="checkbox" value="">Suggestions based on my recent follows</p>
<div class="clear"></div>
</div>


-->



<input type="submit" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>