<div class="clear"></div>
<div class="reply-tip">

	<form action="/post/comment" name="reply" method="post" data-remote="true" enctype="multipart/form-data">
		<%= image_tag @current_user.user_avatar, :width => "47" %>
    <input type="text" name="body" id="text_<%=post.id%>" placeholder="Write a Tip"  required>

		<input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
		<input name="id" type="hidden" value= "<%= post.id %>" />
		<div id="images_preview_<%=post.id%>"></div>
		<a id="various6" href="/dashboard/emoji_modal"><img src="../assets/123.png" id="fumugi_<%=post.id%>" style="width: 42px; margin:  4px 10px 0 0;"></a>

     <div id="image" style="">  
              <img src="../assets/camera.png" alt="camera" height="42" width="42" style="\"> 
            </div>
    <input type="file" id="file_<%=post.id%>" name="file" size="10" style="position: absolute; margin-left: 60px; margin-top: 6px; opacity: 0; width: 146px" class="file_upload"/> 
    <input  style="width: 12%; float: right; margin-top: 9px; margin-right: -7px;" type="submit" value="Reply" class="button reply123" id="text1_<%=post.id%>" name="text_<%=post.id%>" posts="<%=post.id%>">
	</form>
</div>



<script>

$(document).on("click", "#text_<%=post.id%>", function(event){
  if (localStorage.funmoji != 'null' && localStorage.funmoji != undefined) {
	var text_post = $('#text').val();
    var text = $('#text_<%=post.id%>').val();
    var code = localStorage.funmoji;
    $.ajax({
      type: "POST",
       url: '/post/funmoji_post?post_data='+text+' '+code,
       data:  {post_id: "<%=post.id%>"} 
     });
    $("#text_<%=post.id%>").val(text+' '+code)
    $("#text").val(text+' '+code)
    localStorage.funmoji = 'null'

  }


});

</script>
<style>
    @-moz-document url-prefix() {
    .file_upload {
    margin-left: 60px !important;
    margin-top: 10px !important;
     }
    }
  </style>