<div class="container">
    <div class="span4 left">
		
		<!--  profile -->
		<%= render :partial => '/sidebar/profile' %>

        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>

   
		<div class="banner"><%= image_tag "main/isotok.png" %></div>
    </div>

    <div class="span8 tippen-content">
        
        <!-- START POST -->
        <%= render :partial => 'posts' %>
        <!-- END POST -->
    
	</div>
</div>