<div class="page">
    <div class="container">
        <div class="left-section left">

            <%= render :partial => '/sidebar/profile' %>
           
            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
            <br/>
            <%= render :partial => '/sidebar/serve_ad' %>

        </div>

        <div class="right-section right">

            <div class="tip-display">
                
            <%= image_tag @current_user.user_header, :width => "655", height: "242" %>
            <div class="tip-iiner">
                <ul class="left">
                    <li><p><%= @current_user.posts.size %><span>TIPS</span></p></li>
                    <li><p><%= @current_user.following.size %><span>ACQUAINTING</span></p></li>
                    <li><p><%= @current_user.followers.size %><span>ACQUAINTANCES</span></p></li>
                </ul><!-- ul -->
                <div class="tip-buttons right" style="margin-top: 20px;">
                <!--
                <input type="text" value="Message" class="button">
                <input type="text" value="Edit Account" class="button">
                
                <a href="#" class="button">Message</a>
                -->
                <a href="<%= @current_user.username %>/edit" class="button">Edit Account</a>
                <a href="/messages/user_account_delete" class="button"> Delete</a>
                
                </div>
                <div class="clear"></div>
            </div>
            </div>

            <div class="heading all-heading">TIPS</div>
            <br/>

            <!-- START POST -->
            <%= render :partial => '/profile/posts', :locals => { disable_post: true } %>
            <!-- END POST -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>