<%  if local_assigns[:disable_post].nil? %>
<div class="write-tip">
    <form action="/post/create" name="tips" method="post" enctype="multipart/form-data">
    <textarea type="text" name="post[body]" id="tip" style="width:633px;" rows="3" cols="50" maxlength="170" value="" placeholder="Write a Tip" onfocus="if (this.value == 'Write 
    a Tip') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Write a Tip';}"></textarea>
     <div style="margin-top: 10px;margin-left: 290px;">
        <span>
            <div style="margin-top: 10px;margin-left: 243px;font-size: 13px !important;color: #333;font-weight: 600;">
            <span id="charNum"></span> 
            </div>
            </br>
            <input type="file" style="display: none;" name="post[avatar]" value="Change Photo">
            <input style="margin-left: 287px;height: 30px;" type="submit" value="Tip" class="button">
            </br>
            
            <!--  <input style="margin-left: 15px;height: 30px;" type="submit" value="Tip" class="button"> -->
        </span>

     </div>

     <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
        <input name="_user" type="hidden" placeholder="<%= params[:username] %>">
    </form>
</div>
<% end %>

<% # if  @user.all_posts(1)[0, 10].empty? %>
<!--
<div style="margin-left: 280px;margin-top: 150px;">
<span style="font-weight: 600; font-size: 25px;">NO POSTS :(</span>
</div>
-->
<% #end %>

<% # @user.all_posts(1)[0, 10].uniq.each do |post| %>

<%  @user.all_posts(1).uniq.each do |post| %>
<div class="tip-holder">
    <div class="box border-radius">
        <div class="box-left left"><%= image_tag post.user.user_avatar, :width => "116" %></div>
        <div class="box-right right">
        <h2><%= post.user.name %><span><a href="/<%= post.user.username %>"> @<%= post.user.username %></a> </span></h2>

        <p><%= raw emojify(linkify(link_urls_and_users(post.body))) %></p>
        <% if post.avatar.url %>
            <p><a id="example1" href="<%= post.avatar.url %>"><%= image_tag post.avatar.url(:thumb), :width => "116" %></a></p>
        <% end %>

        <div class="view-profile"><a href="/<%= post.user.username %>">View Profile</a></div>
        </div>
        <div class="clear"></div>
        <div class="box-bottom">
            <div class="bottom-left left"><a href="/post/repost/<%= post.id %>" class="re-tip">retip</a>
            
            <!-- admire -->
            <% if !post.admires.where(user_id: @current_user.id).empty? %>
            <a href="/post/unadmire/<%= post.id %>" class="admire">unadmire</a>
            <% else %>
             <a href="/post/admire/<%= post.id %>" class="admire">admire</a>
            <% end %>

            <!-- delete -->
            <% if post.user == @current_user %>
                <a href="/post/destroy/<%= post.id %>" class="more delete">delete</a>
            <% end %>
            </div>
            <!-- timestamp -->
            <div class="bottom-right right"><%= time_ago_in_words(post.created_at).include?("day") || time_ago_in_words(post.created_at).include?("year") || time_ago_in_words(post.created_at).include?("month")? to_date(post.created_at) : time_ago_in_words(post.created_at) %> <!-- <a href="#">Details</a> --></div>
            <div class="clear"></div>
        </div>
    </div><!-- .box -->

    <% if !post.comments.empty? %>
        <div class="box box-comment border-radius">
            
            <% post.comments.each do |comment| %>
            <div class="box-comment-hold">
                <div class="box-left left"><%= image_tag comment.user.user_avatar, :width => "47" %></div>
                <div class="box-right right">
                <h2><%= comment.user.name %><span><a href="/<%= post.user.username %>"> @<%= comment.user.username %></a></span></h2>
                <p><%= raw emojify(linkify(link_urls_and_users(comment.body))) %></p>
                <div class="bottom-left"><!--<a href="#" class="reply">reply</a><a href="#" class="re-tip">retip</a><a href="#" class="admire">admire</a><a href="#" class="eye">5</a><a href="#" class="more">more</a>--></div>
               
                <!-- timestamp -->
                <div class="bottom-right"><%= time_ago_in_words(comment.created_at).include?("day") || time_ago_in_words(comment.created_at).include?("month") || time_ago_in_words(comment.created_at).include?("year") ? to_date(comment.created_at) : time_ago_in_words(comment.created_at) %> <!-- <a href="#">Details</a> --></div>
            </div>
                <div class="clear"></div>
            </div><!-- .box-comment-hold -->
            <% end %> 
            
        </div><!-- .box-comment -->
    <% end %>
    <div class="clear"></div>
    <div class="reply-tip">
       
        <form action="/post/comment" name="reply" method="post">
            <%= image_tag @current_user.user_avatar, :width => "47" %>
            <input type="text" name="body" id="tip" value="Write a Reply" onfocus="if (this.value == 'Write a Reply') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Write a Tip';}">
            <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
            <input name="id" type="hidden" value= "<%= post.id %>" />
        </form>
    </div>
</div>
<% end %>