<%  @user.all_posts(1).uniq.each do |post| %>
<div class="tip-holder">

    <div class="box border-radius">
            <% if !post.admires.where(user_id: @current_user.id).empty? %>
                <img src="assets/main/admired-star.jpg" width="38" height="37" alt="Admired" title="Admired" style="margin-left: 616px;margin-bottom: -33px;margin-top:-5px;">
            <% end %>
        <div class="box-left left"><a href="/<%= post.user.username %>"><%= image_tag post.user.user_avatar, :width => "116" %></a></div>
        <div class="box-right right">
        <h2><a href="/<%= post.user.username %>"><%= post.user.name %></a><span><a href="/<%= post.user.username %>"> @<%= post.user.username %></a> </span></h2>

        <p><%= raw emojify(linkify(link_urls_and_users(post.body))) %></p>
       
        <% if post.avatar.url %>

            <p><a id="example1" href="<%= post.avatar.url %>"><%= image_tag post.avatar.url, :width => "116" %></a></p>
        <% end %>

        <% if post.media %>
            <div class="youtube" style="margin-top: 10px;">
            <iframe width="420" height="250" src="<%= post.media.url %>" frameborder="0" allowfullscreen=""></iframe>
            </div>
        <% end %>

       <!--  <div class="view-profile"><a href="/<%#= post.user.username %>">View Profile</a></div>
        </div> -->


        <div class="clear"></div>
        <div class="box-bottom">
          <div class="bottom-left left retip_class" >
            <div id="retweet_<%= post.id %>">
            <% if !Repost.find_by_user_id_and_post_id(@current_user.id,post.id)%>
              <% if unblock_user_detail(@user,@curent_user)==true %>
              <%= render :partial=>'messages/retip',:locals => {:@post => post} %>
              <% end %>
            <%else%>
              <%= render :partial=>'messages/retweeted',:locals => {:@post => post} %>
            <%end%>
            </div>

            <div id ="message1_<%=post.id%>" style="display:none;">
              <div class="box-left left"><a href="/<%= post.user.username %>"><%= image_tag post.user.user_avatar, :width => "116" %></a>
              </div>
              <div class="box-right right">
                <h2>
                <a href="/<%= post.user.username %>"><%= post.user.name %></a><span><a href="/<%= post.user.username %>"> @<%= post.user.username %></a> </span></h2>
              </div>
              <p><%= raw emojify(linkify(link_urls_and_users(post.body))) %></p>
                <% if post.avatar.url %>

                <p><a id="example1" href="<%= post.avatar.url %>"><%= image_tag post.avatar.url, :width => "116" %></a></p>
                <% end %>
              <br/><br/><br/><br/>
              <br/>
              <div class="modal-footer" style="float :right">
                <button class="button close">Cancel</button>
                <button class="button retip1" id="<%= post.id %>">Retip</button>
                   <!--  <a href="/post/repost/<%#= post.id %>" style="float: left;"class="re-tip" data-remote="true" > -->
              </div>
            </div>

            <!-- admire -->
            <% if unblock_user_detail(@user,@curent_user)==true %>
              <div id="admire_<%= post.id %>" style="float: left;">
                <%= render :partial=>'post/admire',:locals => {:post => post} %>
              </div>
            <%end%>
        
            <!-- delete -->
            <% if post.user == @current_user %>
                <a href="/post/destroy/<%= post.id %>" class="more delete">delete</a>
            <% end %>
            </div>
            <!-- timestamp -->
            <div class="bottom-right right" id="retip_<%=post.id%>">
              <%= render :partial=>'post/retip',:locals=>{:@post=> post}%>
            </div>
            <div class="clear"></div>
        </div>
    </div><!-- .box -->


  <div id="post_<%=post.id%>" >
    <div class="clear"></div>

    <div class="reply-tip">
      <%= render :partial => "profile/tip_reply", :locals => { :post => post } %>
    </div>
    </div>

    </div>
    <% if unblock_user_detail(@user,@curent_user)==true %>
      <%= render :partial => "profile/form", :locals => { :post => post } %>
    <%end%>  

<% end %>

<script>
$(".close").click(function(){
 $.fancybox.close();
 })
</script>
