<div class="container">
    <div class="span4 left">
    
        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>
    </div>
    
    <div class="span8 tippen-content">
    	<div class="banner-section">
        	<%= image_tag "main/admire-banner.png", :class => 'm-large' %>
            <div class="banner-footer">
            	<div class="span4 total-posts">
                	<ul>
                    	<li> <%= @user.posts.size %> <br> <span><strong>TIPS</strong></span></li>
                        <li><%= @user.following.size %> <br> <span><strong>ACQUANTING</strong></span></li>
                        <li><%= @user.followers.size %> <br> <span><strong>ACQUANTANCES</strong></span></li>
                    </ul>
                </div>
                <div class="left total-posts-buttons">
                	<button class="message"></button>
                    <button class="edit-account"></button>
                </div>
            </div>
        </div>
    	<div class="m-header page-header">
            <div class="span6">
            	ACQUANTING
            </div>
        </div>

        <!-- START POST -->
        <%= render :partial => 'user' %>
        <!-- END POST -->
    </div>
</div>