<div class="page">
    <div class="container">
        <div class="left-section left">

            <%= render :partial => '/sidebar/profile' %>
           
            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
            <%= render :partial => '/sidebar/serve_ad' %>
        </div>

        <div class="right-section right">

            
            <%= render :partial => 'tips_display' %>
            
            <div class="heading all-heading">ACQUANTANCES</div>
            <br/>

            <!-- START POST -->
            <%if private_profile %>
            <%= render :partial => 'user' %>
            <%else%>
            <%= render :partial => 'profile/permission' %>
            <%end%>
            <!-- END POST -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>
<div style="margin-left: -513px; width: 206%;">
<%= render :partial=>"footer" %>

</div>
