<div class="page">
    <div class="container">
        <div class="left-section left">
            <!-- nav --> 
            <%= render :partial => '/sidebar/profile' %>

            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- copy -->
            <%= render :partial => '/sidebar/copy' %>
            <%= render :partial => '/sidebar/serve_ad' %>
        </div>

        <div class="right-section right">

            <!-- START POST -->
            <%= render :partial => '/profile/posts', :locals => { disable_post: true }  %>
            <!-- END POST -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>










