<div class="container">
    <div class="span4 left">
    
        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>
    </div>
    
    <div class="span8 tippen-content">
    	

        <!-- START POST -->
        <%= render :partial => '/profile/posts', :locals => { disable_post: true } %>
        <!-- END POST -->
    </div>
</div>