<div class="page">
  <div class="container">
    <div class="left-section left">

      <%= render :partial => '/sidebar/profile' %>

      <!-- nav --> 
      <%= render :partial => '/sidebar/nav' %>

      <!-- suggest -->
      <%= render :partial => '/sidebar/suggest' %>

      <!-- trends -->
      <%= render :partial => '/sidebar/trends' %>

      <!-- trends -->
      <%= render :partial => '/sidebar/copy' %>
      <br/>
      <%= render :partial => '/sidebar/serve_ad' %>

    </div>
    <style type="text/css">
      .emo-hold {
        height: 50px;
      }
    </style>


    <div class="right-section right">
      <% if @advertisers.present? %>
      <div class="heading">Dashboard</div>
      <% @advertisers.each do |ad| %>
        <div class="tip-holder">
            <div class="box emoji border-radius">
              <div class="emo-heading"><%= ad.campaign_name %></div>
               <!--
               <div class="emo-hold">
                  
                    <div class="emo-name">Campaign <p><a style="font-size:18px;" href="#">50</a></p></div>
                    <div class="clear"></div>
                </div> .emo-hold -->
                <div class="emo-hold">
                 
                    <div class="emo-name">Budget<p><a style="font-size:18px;" href="#"><%= ad.total_budget%></a></p></div>
                    <div class="clear"></div>
                </div><!-- .emo-hold -->
                <div class="emo-hold">
                 
                    <div class="emo-name">Balance<p><a style="font-size:18px;" href="#"><%= ad.remaining_budget%></a></p></div>
                    <div class="clear"></div>
                </div><!-- .emo-hold -->
                <div class="emo-hold">
                  
                    <div class="emo-name">Served <p><a style="font-size:18px;" href="#"><%= ad.total_ad_served.to_i%></a></p></div>
                    <div class="clear"></div>
                </div><!-- .emo-hold -->
                <div class="emo-hold">
                  
                <div class="emo-name">Status</div>
                    <% if ad.approved %>
                    <p style="font-size:14px;"><a href="#">Approved</a></p>
                  <% else %>
                    <p style="font-size:14px;margin:11px;"><a href="#">Pending</a></p>
                  <% end %>
                  <div class="clear"></div>
                </div><!-- .emo-hold -->

                <div class="emo-hold">
                    <div class="emo-name">Manage</div>
                    <% if ad.active %>
                      <p style="font-size:14px;margin:30px;"><%= link_to "Stop", de_activate_advertise_path(ad) %> </p>
                    <% else %>
                      <p style="font-size:14px;margin:30px;"><%= link_to "Start", activate_advertise_path(ad) %> </p>
                    <% end %>
                    <div class="clear"></div>
                </div><!-- .emo-hold -->

                <div class="clear"></div>
            </div><!-- .box -->
        </div>
      <% end %>
      <% else %>
        
        <div style="margin-left: 200px;margin-top: 150px;">
          <span style="font-weight: 600; font-size: 25px;">No advertisement is created</span>
        </div> 

      <% end %>

    </div>
    <div class="clear"></div>
  </div><!-- .container -->
</div>