<div class="page">
    <div class="container">
        <div class="left-section left">

            <%= render :partial => '/sidebar/edit_profile' %>
           
            <!-- nav --> 
            <%= render :partial => '/sidebar/edit_nav' %>

            <!-- copy -->
            <%= render :partial => '/sidebar/copy' %>
            
           <%= render :partial => '/sidebar/serve_ad' %>
        </div>

        <div class="right-section right">

            

            <!-- START POST -->
            <%= render :partial => "edit_" + @partial %>
            <!-- END POST -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>
<%= render :partial=>"footer" %>
