<div class="container">
    <div class="span4 left">
    
        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>
    </div>

	<div class="span8 tippen-content">

        <form id="payAll" name="pay" action="#">
        </form>

        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
        <script>
            $('a.buyAll').live('click', function(){
              var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form#payAll').append($input).submit();
              };

              StripeCheckout.open({
                key:         'pk_n0caSwOwfrHKOuffmPvm7itkCwG8k',
                address:     false,
                amount:      '499',
                currency:    'usd',
                name:        'All Pack',
                description: 'Buy all emoji set, includes all packs',
                panelLabel:  'Pay ',
                token:       token
              });

              return false;
            });
          </script>

		<% Emoji.family("display").each do |family, emojis| %>
        <div class="banner-section" style="margin-bottom: <%= (emojis.split(",").size / 3) * 22 %>px;">
			<div class="cool-people" style="background: white;"> 
		        
		        <div class="peaple-header">
			        <div class="row" style="background: white;">
			            <div style="margin-right: 350px;" class="span2 cool-heading">
			                <h6><%= "#{family.to_s.titleize} Pack" %></h6>
			            </div>
                        <% if family.to_s != "free" && @current_user.emojis.find_by_name(family.to_s).nil? %>
                        
    			            <div class="span2 cool-h-link">
    			                <ul>
                                    <form id="pay<%= family.to_s.titleize %>" name="pay" action="#"> 
                                    <script>
                                        $('a.buy<%= family.to_s.titleize %>').live('click', function(){
                                          var token = function(res){
                                            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                            $('form#pay<%= family.to_s.titleize %>').append($input).submit();
                                          };

                                          StripeCheckout.open({
                                            key:         '',
                                            address:     false,
                                            amount:      '<%= pack_price(family) %>',
                                            currency:    'usd',
                                            name:        '<%= "#{family.to_s.titleize} Pack" %>',
                                            description: 'Buy <%= "#{family.to_s.titleize} Pack" %>',
                                            panelLabel:  'Pay',
                                            token:       token
                                          });

                                          return false;
                                        });
                                      </script>
                                      </form>
    			                    <li><a class="buy<%= family.to_s.titleize %>" href="#">Buy this</a></li>
    			                    <li><a class="buyAll" href="#">Buy All</a></li>
    			                </ul>
    			            </div>
                       
                        <% end %>
			        </div>
		        </div>
		        
		        <!-- emoji content -->

		        <div style="margin: 10px;" class="row">
		        	<% emojis.split(",").each do |emoji| %>
                    <div class="span2" style="margin: 3px;" >
                        <img align="left" width="30" src="/assets/emoji/<%= emoji.delete(' ') %>.png">
                        <ul>
                            <!-- <li>Lexus</li> -->
                            <li><a href="#">:<%= emoji.delete(' ') %>:</a></li>
                        </ul>
                    </div>
                    <% end %>

                </div>

		    </div>
		</div>
        <% end %>
        <!-- family div -->
	</div>
</div>