<div class="container">
    <div class="span4 left">
    
        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>
    </div>

	<div class="span8 tippen-content">
		<% Emoji.family("display").each do |family, emojis| %>
        <div class="banner-section" style="margin-bottom: <%= (emojis.split(",").size / 3) * 22 %>px;">
			<div class="cool-people" style="background: white;"> 
		        
		        <div class="peaple-header">
			        <div class="row" style="background: white;">
			            <div style="margin-right: 350px;" class="span2 cool-heading">
			                <h6><%= "#{family.to_s.titleize} Pack" %></h6>
			            </div>
                        <% if family.to_s != "free" %>
			            <div class="span2 cool-h-link">
			                <ul>
			                    <li><a href="#">Buy this</a></li>
			                    <li><a href="#">Buy All</a></li>
			                </ul>
			            </div>
                        <% end %>
			        </div>
		        </div>
		        
		        <!-- emoji content -->

		        <div style="margin: 10px;" class="row">
		        	<% emojis.split(",").each do |emoji| %>
                    <div class="span2" style="margin: 3px;" >
                        <img align="left" width="30" src="/assets/emoji/<%= emoji.delete(' ') %>.png">
                        <ul>
                            <!-- <li>Lexus</li> -->
                            <li><a href="#">:<%= emoji.delete(' ') %>:</a></li>
                        </ul>
                    </div>
                    <% end %>

                </div>

		    </div>
		</div>
        <% end %>
        <!-- family div -->
	</div>
</div>