<div class="page">
    <div class="container">
        <div class="left-section left">

            <%= render :partial => '/sidebar/profile' %>
           
            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/suggest' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/trends' %>

            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
            <br/>
            <div class="banner"><%= image_tag "main/isotok.png" %></div>
        </div>

        <div class="right-section right">

           

            <div class="heading all-heading" style="margin-top:0px;">BUY EMOJI'S</div>
            <br/>

            <div class="tip-holder">
                <div class="box emoji border-radius">
                    <div class="emo-heading">All Pack <span style=""><a class="buyAll" href="#">Buy</a></span></div>
                     
                        <div class="emo-name" style="font-size: 12px;margin-top: 5px;">This pack includes everything we sell in all packs</div>

                        <!-- purchase form -->
                        <% if @current_user.emojis.find_by_name("all").nil? %>
                        <form id="payAll" name="pay" action="#">
                            <input type="hidden" value="all" name="family">
                        </form>

                        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
                        <script>
                             $(document).on("click", "a.buyAll", function(){
                                 
                                  var token = function(res){
                                    var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                    $('form#payAll').append($input).submit();
                                  };

                                  StripeCheckout.open({
                                    key:         '<%= ENV["STRIPE_PUBLISHER"] %>',
                                    address:     false,
                                    amount:      '499',
                                    currency:    'usd',
                                    name:        'All Pack',
                                    description: 'Buy all emoji set, includes all packs',
                                    panelLabel:  'Pay ',
                                    token:       token
                                  });

                                  return false;
                            });
                          </script>
                          <!-- end purchase form -->
                          <% end %>
                        <div class="clear"></div>
            
                    <div class="clear"></div>
                </div><!-- .box -->
            </div>

            <!-- START EMOJI -->
            <% Emoji.family("display").each do |family, emojis| %>
            <div class="tip-holder">
                <div class="box emoji border-radius">
                    <div class="emo-heading"><%= "#{family.to_s.titleize} Pack" %> 
                        <span style=""><a class="buy<%= family.to_s.titleize %>" href="#">Buy</a></span>

                        <!-- purchase form -->
                        <% if family.to_s != "free" && @current_user.emojis.find_by_name(family.to_s).nil? %>
                        <form id="pay<%= family.to_s.titleize %>" name="pay" action="/dashboard/purchase"> 
                            <input type="hidden" value="<%= family.to_s %>" name="family ">
                        <script>
                            $(document).on("click", "a.buy<%= family.to_s.titleize %>", function(){
                              var token = function(res){
                                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                $('form#pay<%= family.to_s.titleize %>').append($input).submit();
                              };

                              StripeCheckout.open({
                                key:         '<%= ENV["STRIPE_PUBLISHER"] %>',
                                address:     false,
                                amount:      '<%= pack_price(family) %>',
                                currency:    'usd',
                                name:        '<%= "#{family.to_s.titleize} Pack" %>',
                                description: 'Buy <%= "#{family.to_s.titleize} Pack" %>',
                                panelLabel:  'Pay',
                                token:       token
                              });

                              return false;
                            });
                          </script>
                          </form>
                          <% end %>
                         <!-- end purchase form -->
                    </div>

                    <% emojis.split(",").each do |emoji| %>
                    <div class="emo-hold">
                        <img src="/assets/emoji/<%= emoji.delete(' ') %>.png" width="40" height="40" alt="" title="Emoji Name">
                        <div class="emo-name"><a href="#">:<%= emoji.delete(' ') %>:</a></div>
                        <div class="clear"></div>
                    </div><!-- .emo-hold -->
                    <% end %>
                    <div class="clear"></div>
                </div><!-- .box -->
            </div>
            <% end %>
            
            <!-- END EMOJI -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>
