<div class="page">
    <div class="container">
        <div class="left-section left">

            <%= render :partial => '/sidebar/profile' %>
           
            <!-- nav --> 
            <%= render :partial => '/sidebar/nav' %>

            <!-- suggest -->
            <%= render :partial => '/sidebar/side_list' %>
            
            <!-- trends -->
            <%= render :partial => '/sidebar/copy' %>
            <br/>
            <div class="banner"><%= image_tag "main/isotok.png" %></div>
        </div>

        <div class="right-section right">

            
            <%= render :partial => 'tips_display' %>
            
            <div class="heading all-heading"><%= @list.name %>
                <% if @current_user.id && @current_user == @user %>
                <p class="list-button"><a href="/<%= @current_user.username %>/lists/create" class="button">create list</a></p>
                <% end %>
            </div>

            <br/>

            <!-- START POST -->
            <%= render :partial => 'user' %>
            <!-- END POST -->

        </div>
        <div class="clear"></div>
    </div><!-- .container -->
</div>
