<!DOCTYPE html>
<html>
<head>
<title>Tippin the velvet - Home</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">

	<div class="container">
		<div class="top">
			<div class="right">
			<div class="text">ALREADY<span>acquaintED?</span></div>
				<div class="login">
					<form action="/landing/validate_login" method="post">
					<input type="text" name="email" placeholder="Email" class="text1" />
					<input type="password" name="password" placeholder="Password" class="text2" />
					<input type="submit" name="" class="submit" Value="Sign In"/>
					<span class="for"><a href="/forgot">Forgot Password?</a></span>
					
					</form>
				</div>
			</div>
			<div class="clear"></div>
		<div class="logotext"><%= image_tag "logo.png" %></div>	
		</div>

		<!-- middle --> 
		<%= yield %>
	
	<div class="footer">
		<div class="foot"><%= image_tag "footer-img.png" %></div>
		<div class="foot-text">ADULT SOCIAL NETWORKING</div>
		<div class="eighteen">Must be 18+</div>
			<div class="navigation-bottom">
				<ul>                   
				<li><a href="#">about tv</a></li>
				<li><a href="#">advertisers</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">find acquaintances</a></li>
				<li><a href="#">PRIVACY </a></li>
				<li><a href="#">TERMS</a> </li>
				
				</ul>
				
					
			</div>
			<div class="clear"></div>
			<div class="copy">&copy; 2013 TIPPIN THE VELVET. All Rights Reserved.</div>
	</div><!--End of footer-->
	</div>
	</div><!--End of Wrapper-->



</body>
</html>